<launch>

 <node name="image_display_node" pkg="fps" type="image_display_node.py" output="screen">
 </node>

 <node name="image_processing_node" pkg="fps" type="image_processing_node.py" output="screen">
 </node>

 <node name="cv_camera_node" pkg="cv_camera" type="cv_camera_node" output="screen">
 </node>


</launch>
