<launch>

 <node name="image_display_node" pkg="ros_visualise" type="image_display_node.py" output="screen">
 </node>

 <node name="image_processing_node" pkg="ros_visualise" type="image_processing_node.py" output="screen">
 </node>

 <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
 </node>


</launch>
