<launch>

  <node name="process_cv2_node" pkg="ros_visualise" type="process_cv2_node.py" output="screen" >
     <remap from="topic_name" to="/usb_cam/image_raw" />
  </node>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
    <param name="framerate" value="30" />
  </node>

  <node name="view_on_screen" pkg="ros_visualise" type="view_on_screen.py" output="screen" >
    <remap from="topic_name" to="/gray" />
  </node>

</launch>
